#
# 
# Copyright (c) 2012-2016 General Electric Company. All rights reserved.
#
# The copyright to the computer software herein is the property of
# General Electric Company. The software may be used and/or copied only
# with the written permission of General Electric Company or in accordance
# with the terms and conditions stipulated in the agreement/contract
# under which the software has been supplied.
#


#
# Predix Machine - 16.1.1
#
# Configuration properties for the Predix Machine OPC-UA Machine Adapter
#
# Service_PID = com.ge.dspmicro.machineadapter.opcua
#


# Usage: 
# 
#       Properties set in this file may use the full property
#       name. For example:
#                  
#             <service_pid>.<property_key>=<property_value>



# Note: 
#
#       Properties in configuration files are subject to a delay
#       as they rely on the config-admin and fileinstall bundles.
#
# Format: 
#       type character followed by a quoted string representation of value. 
#          e.g a boolean -  property=B"true"
#       Lowercase type character implies primitives. Type can be omitted for String.
#       Types:
#           T = String            I = Integer            L = Long
#           F = Float             D = Double             X = Byte
#           S = Short             C = Character          B = Boolean
#
#       Array format is property=<type>["<value1>","<value2>"]. 
#           e.g. array of int - property=i["1", "2", "3"]
#       A backslash may be used to break up the line for clarity.

#
# Adapter Config File
#
# Set the configuration file to start this adapter: configuration/machine/com.ge.dspmicro.machineadapter.opcua-0.xml
com.ge.dspmicro.machineadapter.opcua.configFile=""
com.ge.dspmicro.machineadapter.opcua.name="OPC-UA Machine Adapter"
com.ge.dspmicro.machineadapter.opcua.description="Supports basic read/write capability from OPC-UA nodes. Supports subscription to a group of OPC-UA nodes."

# Security Mode
#   NONE
#   BASIC128RSA15_SIGN
#   BASIC128RSA15_SIGN_ENCRYPT
#   BASIC256_SIGN
#   BASIC256_SIGN_ENCRYPT
#   BASIC256SHA256_SIGN
#   BASIC256SHA256_SIGN_ENCRYPT
com.ge.dspmicro.machineadapter.opcua.security.mode="NONE"

com.ge.dspmicro.machineadapter.opcua.keystore.path="security/opcua_keystore.jks"
com.ge.dspmicro.machineadapter.opcua.keystore.type="JKS"
com.ge.dspmicro.machineadapter.opcua.keystore.password=""
com.ge.dspmicro.machineadapter.opcua.keystore.password.encrypted="FkNvJiwlFvzE1tGcZ2UcDnGJVf4oTZnSNuxURWA2KLA\="

com.ge.dspmicro.machineadapter.opcua.key.alias="dspmicro"
com.ge.dspmicro.machineadapter.opcua.key.password=""
com.ge.dspmicro.machineadapter.opcua.key.password.encrypted="tVdQHgMBEOW9FUttbyx9PKQMpeP0htqQr7W3RHZsutk\="

com.ge.dspmicro.machineadapter.opcua.truststore.path="security/machinegateway_truststore.jks"
com.ge.dspmicro.machineadapter.opcua.truststore.type="JKS"
com.ge.dspmicro.machineadapter.opcua.truststore.password=""
com.ge.dspmicro.machineadapter.opcua.truststore.password.encrypted="pgVRV7lIiL+xOYaN4BZ793cXr5WF/GuTIrRXXyQyR64\="
