#
# 
# Copyright (c) 2012-2016 General Electric Company. All rights reserved.
#
# The copyright to the computer software herein is the property of
# General Electric Company. The software may be used and/or copied only
# with the written permission of General Electric Company or in accordance
# with the terms and conditions stipulated in the agreement/contract
# under which the software has been supplied.
#


#
# Predix Machine - 16.1.1
#
# Configuration properties for the Predix Machine HTTP Tunnel Client service
#
# Service_PID = com.ge.dspmicro.httptunnel.client
#


# Usage: 
# 
#       Properties set in this file may use the full property
#       name. For example:
#                  
#             <service_pid>.<property_key>=<property_value>



# Note: 
#
#       Properties in configuration files are subject to a delay
#       as they rely on the config-admin and fileinstall bundles.
#
# Format: 
#       type character followed by a quoted string representation of value. 
#          e.g a boolean -  property=B"true"
#       Lowercase type character implies primitives. Type can be omitted for String.
#       Types:
#           T = String            I = Integer            L = Long
#           F = Float             D = Double             X = Byte
#           S = Short             C = Character          B = Boolean
#
#       Array format is property=<type>["<value1>","<value2>"]. 
#           e.g. array of int - property=i["1", "2", "3"]
#       A backslash may be used to break up the line for clarity.
#

# [Required] Property for the friendly name for the HttpTunnel Client.
# This field must be unique from all the HttpTunnel Client Services in this Device. 
com.ge.dspmicro.httptunnel.client.tunnel.name="Default Http Tunnel Client"

# [Required] Route to the Http Tunnel Server application. (e.g. HttpTunnelServer.mycloud.com)
com.ge.dspmicro.httptunnel.client.destination.host=""

# [Required] Property indicating whether Http Tunnel Server is located in the Predix Cloud (true) or located outside 
# of the Predix Cloud (false)
com.ge.dspmicro.httptunnel.client.use.predixcloud=B"true"

# [Required] Property indicating the amount of time (in seconds) that the Http Tunnel Client will attempt to establish
# a connection with the server when it first initiates and when it loses connection.
# If 0, the Client will try forever.
com.ge.dspmicro.httptunnel.client.connect.timeout=I"0"

# [Required] Property to set a Max limit to the size of the data buffer for each session in the HttpTunnel Client.
# Max size of the buffer is in increments of 8Kb of data. (i.e. If the Max size of the buffer is 65536
# of 8kb per increment, then the Max Memory size is 512MB)
com.ge.dspmicro.httptunnel.client.buffer.size=I"5000"

# [Required] Property indicating the state of the Http Tunnel Client on startup.
# If true, the tunnel will be on as long as the container is running. If False, a command must be sent from the
# Device Manager to start the Http Tunnel Client Session.
com.ge.dspmicro.httptunnel.client.start.state.active=B"false"
