#
# 
# Copyright (c) 2012-2016 General Electric Company. All rights reserved.
#
# The copyright to the computer software herein is the property of
# General Electric Company. The software may be used and/or copied only
# with the written permission of General Electric Company or in accordance
# with the terms and conditions stipulated in the agreement/contract
# under which the software has been supplied.
#


#
# Predix Machine - 16.1.1
#
# Configuration properties for the Predix Machine HTTP Tunnel Protocols Service
#
# Service_PID = com.ge.dspmicro.httptunnel.client.protocol
#


# Usage: 
# 
#       Properties set in this file may use the full property
#       name. For example:
#                  
#             <service_pid>.<property_key>=<property_value>



# Note: 
#
#       Properties in configuration files are subject to a delay
#       as they rely on the config-admin and fileinstall bundles.
#
# Format: 
#       type character followed by a quoted string representation of value. 
#          e.g a boolean -  property=B"true"
#       Lowercase type character implies primitives. Type can be omitted for String.
#       Types:
#           T = String            I = Integer            L = Long
#           F = Float             D = Double             X = Byte
#           S = Short             C = Character          B = Boolean
#
#       Array format is property=<type>["<value1>","<value2>"]. 
#           e.g. array of int - property=i["1", "2", "3"]
#       A backslash may be used to break up the line for clarity.
#

# [Required] Property to determine which HttpTunnel Client this configuration belongs to
com.ge.dspmicro.httptunnel.client.protocol.tunnel.name="Default Http Tunnel Client"

# [Required] The protocol being tunneled. This maps to the Protocol Name in the ServerTunneledProtocol
# This property is used to map to the same Protocol in the HttpTunnelServer. 
# Must be unique to the other Protocol Configurations running in this Container. e.g. You cannot run 2 SSH Tunnels over the same Http Tunnel Client.
com.ge.dspmicro.httptunnel.client.protocol.name="SSH"

# [Required] Port to open for reading or writing tunneled data
com.ge.dspmicro.httptunnel.client.protocol.port=I"0"

# [Required] Server or Client
# Indicates who initiates the Request to tunnel data.
# If the Client initiates Requests, the Server must have a property file com.ge.dspmicro.httptunnel.server.protocol-[n].cfg
# with the same protocol.name property as the configuration property in this file so that the server knows where to transfer data it receives.
# If the Server initiates a Request, there is no need to include a configuration file in the Server because the Http Tunnel Client
# tells the Server what protocol it is allowed to Tunnel.
com.ge.dspmicro.httptunnel.client.protocol.tunneling.initiator="Server"
