#
# 
# Copyright (c) 2012-2016 General Electric Company. All rights reserved.
#
# The copyright to the computer software herein is the property of
# General Electric Company. The software may be used and/or copied only
# with the written permission of General Electric Company or in accordance
# with the terms and conditions stipulated in the agreement/contract
# under which the software has been supplied.
#


#
# Predix Machine - 16.1.1
#
# Configuration properties for the Predix Machine TCP Socket Server  service
#
# Service_PID = com.ge.dspmicro.tcpsocketserver"
#


# Usage: 
# 
#       Properties set in this file may use the full property
#       name. For example:
#                  
#             <service_pid>.<property_key>=<property_value>



# Note: 
#
#       Properties in configuration files are subject to a delay
#       as they rely on the config-admin and fileinstall bundles.
#
# Format: 
#       type character followed by a quoted string representation of value. 
#          e.g a boolean -  property=B"true"
#       Lowercase type character implies primitives. Type can be omitted for String.
#       Types:
#           T = String            I = Integer            L = Long
#           F = Float             D = Double             X = Byte
#           S = Short             C = Character          B = Boolean
#
#       Array format is property=<type>["<value1>","<value2>"]. 
#           e.g. array of int - property=i["1", "2", "3"]
#       A backslash may be used to break up the line for clarity.


#
# Port number for socket listener (default=3775)
#
com.ge.dspmicro.tcpsocketserver.port=I"3775"

#
# The maximum number of active sessions allowable (default=10)
#
com.ge.dspmicro.tcpsocketserver.max_sessions=I"10"

#
# The maximum parse-able message size (default=4096)
# The full message must fit into one message buffer.
#
com.ge.dspmicro.tcpsocketserver.max_msg_bytes=I"4096"

#
# Milliseconds to sleep when idle (default=10)
#
com.ge.dspmicro.tcpsocketserver.idle_sleep_ms=I"10"

#
# Milliseconds of idle time without any activity and the socket channel will be closed. (Default = 10 minutes - 600000 ms) 
# A negative value will never time out.
#
com.ge.dspmicro.tcpsocketserver.idle_timeout=I"600000"

#
# The mode of the TCP Socket Server - whether RAW or PROTOBUF
#
com.ge.dspmicro.tcpsocketserver.mode="PROTOBUF"
